<div class="login">

<div class="container">

<h7>Edit <%= resource_name.to_s.humanize %></h7>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, placeholder: "ユーザー名", autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "メールアドレス",autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <br><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, placeholder: "6文字以上", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "新パスワード確認", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, placeholder: "元のパスワードを入力", autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


<br>
<h8>Cancel my account</h8>
<br><br>
Really?
<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>


</div>
</div>